<div class="timeline__section">
	<div class="timeline__section__date"><span>{{date}}</span></div>
	<div class="timeline__section__header">
		<div class="timeline__section__topic"><span>{{topic}}</span></div>
		<div class="timeline__section__caption"><span>{{caption}}</span></div>
	</div>
	<div class="timeline__section__img">
		<img src="{{img}}" alt="">
		<a href="" class="timeline__section__link">
			<span>2 min reading</span>
			<span class="icon icon--share"></span>
		</a>
	</div>
	<div class="timeline__section__footer">
		<div class="timeline__section__text">
			<span>{{text}}</span>
		</div>
		<a href="" class="timeline__section__link">
			<span>2 min reading</span>
			<span class="icon icon--share"></span>
		</a>
	</div>
</div>